@import "../../../../../../../../styles/variables.scss";

.file-item {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 7fr repeat(4, 1fr);
    align-items: center;
    border-bottom: 1px solid var(--clr-secondary-500);
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

    &:not(.file-item--empty) {
        @media (hover) {
            .file-item__image {
                transition: transform $ms;
            }

            &:hover,
            &:focus {
                .file-item__image {
                    transform: scale(1.15);
                    transition: transform $ms;
                }
            }
        }
    }

    @media (hover) {
        &:hover,
        &:focus {
            .file-item__delete {
                opacity: 1;
                visibility: visible;
                transition: opacity $ms, visibility $ms;
                pointer-events: initial;
            }
        }
    }

    &--type {
        &-file {
            @media (hover) {
                &:hover,
                &:focus {
                    .file-item__download {
                        opacity: 1;
                        visibility: visible;
                        transition: opacity $ms, visibility $ms;
                        pointer-events: initial;
                    }
                }
            }
        }
    }

    &--empty {
        display: block;
        border-bottom: none;
        text-align: center;
    }

    &__image {
        text-align: center;
    }

    &__download {
        grid-column-start: 3;
        margin-right: auto;
        margin-left: auto;
        opacity: 0;
        visibility: hidden;
        transition: opacity $ms, visibility $ms;
        pointer-events: none;
    }

    &__delete {
        grid-column-start: 4;
        margin-right: auto;
        margin-left: auto;
        opacity: 0;
        visibility: hidden;
        transition: opacity $ms, visibility $ms;
        pointer-events: none;
    }

    &__date {
        grid-column-start: 5;
        font-size: 1.4rem;
        text-align: center;
    }

    &__size {
        font-size: 1.4rem;
        text-align: center;
    }
}
