@import "../../../styles/variables.scss";

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 15px;
    width: fit-content;
    min-height: 40px;
    font-weight: 700;
    font-size: 1.8rem;
    transition: color $ms, background-color $ms;

    &__size {
        &--small {
            min-width: 120px;
        }

        &--full {
            width: 100%;
        }

        &--large {
            min-width: 220px;
        }

        &--middle {
            min-width: 180px;
        }
    }

    &__position {
        &--left {
            margin-right: auto;
        }

        &--right {
            margin-left: auto;
        }

        &--center {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__type {
        &--default {
            border-color: var(--clr-primary-400);
            color: var(--clr-default-100);
            background-color: var(--clr-primary-400);

            @media (hover) {
                &:hover,
                &:focus {
                    color: var(--clr-primary-400);
                    background-color: transparent;
                    transition: color $ms, background-color $ms;
                }
            }
        }

        &--stroke {
            border-color: var(--clr-primary-400);
            color: var(--clr-primary-400);
            background-color: transparent;

            @media (hover) {
                &:hover,
                &:focus {
                    color: var(--clr-default-100);
                    background-color: var(--clr-primary-400);
                    transition: color $ms, background-color $ms;
                }
            }
        }

        &--danger {
            border-color: var(--clr-ui-error);
            color: var(--clr-ui-error);
            background-color: transparent;

            @media (hover) {
                &:hover,
                &:focus {
                    color: var(--clr-default-100);
                    background-color: var(--clr-ui-error);
                    transition: color $ms, background-color $ms;
                }
            }
        }

        &--error {
            border-color: var(--clr-ui-error);
            color: var(--clr-default-100);
            background-color: var(--clr-ui-error);

            @media (hover) {
                &:hover,
                &:focus {
                    color: var(--clr-ui-error);
                    background-color: transparent;
                    transition: color $ms, background-color $ms;
                }
            }
        }
    }
}
