@import "../../../../styles/variables.scss";

.files-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    &__left {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        &-row {
            display: flex;
            align-items: center;
        }
    }
}
