.user-files {
    &__head {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 7fr repeat(4, 1fr);
        border-bottom: 1px solid var(--clr-secondary-500);
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.4rem;
        color: var(--clr-secondary-200);

        &-item {
            &--name {
                grid-column-start: 2;
            }

            &--date {
                grid-column-start: 5;
                text-align: center;
            }

            &--size {
                text-align: center;
            }
        }
    }

    &__list {
        &--list {
            .file-item--empty {
                margin-top: 20px;
            }
        }
        &--plate {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 20px;
            margin-top: 20px;

            & > .file-item--empty {
                grid-column: 1 / 7;

                @media (max-width: 1200px) {
                    grid-column: 1 / 5;
                }

                @media (max-width: 767px) {
                    grid-column: 1 / 4;
                }

                @media (max-width: 576px) {
                    grid-column: 1 / 3;
                }
            }

            @media (max-width: 1200px) {
                grid-template-columns: repeat(4, 1fr);
            }

            @media (max-width: 767px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (max-width: 576px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
