@import "./styles/settings/fonts.scss";
@import "./styles/settings/normalize.scss";

:root {
    --clr-default-100: #fff;
    --clr-default-900: #000;
    --clr-primary-400: #0c306b;
    --clr-secondary-200: #dbe2ed;
    --clr-secondary-300: #cfdcf1;
    --clr-secondary-400: #98a9c3;
    --clr-secondary-500: rgba(214, 225, 239, 0.3);
    --clr-ui-header: #242424;
    --clr-ui-background: #1f1f1f;
    --clr-ui-error: #c22828;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--clr-default-100);
    background-color: var(--clr-ui-background);
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

// Components
@import "./styles/ui.scss";
@import "./styles/components/auth.scss";
@import "./styles/components/form.scss";

// Libs
@import "./styles/libs/toastify.scss";
